@import './res/fonts';

@import './layout/navbar';
@import './layout/header';
@import './layout/footer';

*{
   font-family: $font;
   margin: 0;
}
html, body{
    
   overflow-x: hidden;
   max-width: 100%; 
   height: auto;
  
}
body {
   position: relative;
   overflow-y: hidden;
}

