.login{
   background-color: transparent;
   color: $MediumGray;
   border: 0;
   cursor: pointer;
   padding: 0 45px;
   font-size: inherit;
   &:hover{
      color: $primary;
   }
}
.register{
   border: 2px solid $MediumGray;
   color: $MediumGray;
   background-color: transparent;
   border-radius: 20px;
   padding: 2px 20px;
   font-size: inherit;
   cursor: pointer;
   &:hover{
      color: $primary;
      border: 2px solid $primary;
   }
}
.learnMore{
   background-color: $primary;
   color: $background;
   padding: 10px;
   width: 200px;
   border-radius: 12px;
   font-size: 20px;
   cursor: pointer;
   &:hover{
      background-color: $background;
      color: $primary;
   }
}