@import './components/navbar';
@import './res/fonts';
@import './components/header';

*{
   font-family: $font;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }